@charset "UTF-8";
*{
    margin: 0px;
}

:root{
    /* Cores */
    --box1:#1b1b1b;
    --box2:#313131;
    --box3:#FF97A0;
    --box4:#461E25;
    --font1:#CDCDCD;
    --font2:#FFFFFF;
    --font3: #1B1B1B;
    --fontDestaqueZ:underline solid  #FF97A0;
    --fontDestaqueY:3px;
    --bordas:#7b7b7b;
    /* Fontes */
    --texto1:normal 600 48px 'Inter', sans-serif;
    --texto2:normal 250 30px 'Inter', sans-serif;
    --texto21:normal 250 23px 'Inter', sans-serif;
    --texto3:normal 600 12px 'Inter', sans-serif;
    --textoParagrafo:normal normal 16px 'Inter', sans-serif;
    --textoH2:normal normal 28px 'Inter', sans-serif;
    /*bordas*/
    --bordtest:1px solid red;

}

header{
    background-color: var(--box1);
    position: fixed;
    padding-top: 0px;
    height: 60px;
    width: 100vw;
    border-bottom: 0.1px solid;
    border-color:  var(--bordas);
    z-index: 2;
}
#containerMenu{
    display: flex;
}
#containernavegação{
    display: flex;
    align-items: center;
    border: 1px solid blue;
    width: 100%;
    gap: 10px;
}
#imgLogo{
    display: inline-block;
    width: 150px;
    height: 60px;
    background-image: url(imagens/mdn.jpg);
    background-size: 80%;
    background-repeat:no-repeat;
}
#menus{
    border: 1px solid green;
    width: 90%;
}
#menus > ol{
    display: inline-flex;
    align-items: center;

}
#menus > ol > li > button > a{
    font: var(--textoParagrafo);
    color: var(--font1);
    padding: 10px;
    text-decoration: none;
    }

.botmenu{
    border: none;
    background-color: var(--box1);
}

#logBuscConf{
    display: flex;
    justify-content:center;
    border: 2px solid white;
}
#ajuste{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--box1);
    color: var(--font1);
    font: var(--texto12);
    border: none;
    cursor: pointer;
    border: var(--bordtest);
}
#iconBotAju{
    background-image: url(imagens/meia\ lua.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: -8px;
    width: 30px;
    height: 20px;
}
#seach{
    border-radius: 20px;
    border: 0.3px solid var(--font2);
    background-color: var(--box1);
    width: 70px;
    height: 25px;
    margin-left: 10px;
    align-items: center;
    display: flex;
    border: var(--bordtest);
}
#txtseach{
    background-color: var(--box1);
    box-sizing: border-box;
    border: none;    
    width: 40px;
    height: 20px;
    border-radius: 20px;
    blink
}
#botseach{
    position: relative;
    background-image:url(imagens/lupa.jpg) ;
    background-size:contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none; 
}
#log{
    display: flex;
    border: var(--bordtest);
    color: var(--font2);
    gap: 10px;
    flex-shrink:0;
}
#menuhambur{
    background-image: url(imagens/sandwich-menu-icon-1.jpg) ;
    background-color: var(--box1);
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
}
#menunew{
    position: absolute;
    width: 100vw;
    background-color: var(--box1);
    top: 90%;
    display: none;
}
body{
    background-color: #1b1b1b;

}
main>:nth-child(2n){
    background-color: var(--box2)
}
#your{
    background-image: linear-gradient(to bottom, #1b1b1bc1, #1b1b1bc1), url('imagens/mandala.png');
    height: 440px;
    /* width: 1300px; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--box1);
    background-position: 80%;
}
#your2{
    width: 524px;
    margin: auto;
    padding-top: 80px;
    vertical-align:middle;
}
.TxtDest{
    text-decoration: var(--fontDestaqueZ);
    text-decoration-thickness: var(--fontDestaqueY);
    /* font: var(--texto1); */
}
#your2 > h2{
    font: var(--texto2);
    color: #CDCDCD;
    margin-bottom:1%;
}

.botYour{
    display: inline-block;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    margin-right: 10px;
    font: var(--texto3);
    z-index: 1;
}
#botYour1{
    background-color: var(--font2);
    position: relative;

}
#botYour2{
    color: var(--font2);
    border: 2px solid var(--box3);
    position: relative;

}
.botYourTxt{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.assunto{
    height: 604px;
    color: var(--font2);
    text-align: center;
    font: var(--textoParagrafo);
}

.TxtDestCor{
    color: var(--box3);
    font: var(--texto3);
    letter-spacing: 1.5px;
}

#planos {
    display: flex;
    justify-content: center;
    
    
}


.plano {
    border-radius: 10px;
    color: var(--font3);
    height: 500px;
    width:320px ;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 0px;
    list-style-type: decimal;
}
#Core{
    background-color: #00d061;
}
#MDNPlus{
    background-color: #8CB4FF;
}
#MDNSuppot{
    background-color:#FF97A0;
}
.plano > ul > li> a, a{
    color: var(--font3);
    text-decoration-thickness:var(--fontDestaqueZ) ;
    
} 
.titulo{
    
    color: var(--font2);
    margin-top: -16px;
    padding-top: 10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
#TCore{
    background-color: #006830;
}
#TMdn{
    background-color: #465A7F;
}
#TMds{
    background-color: #7F4B50;
}
.fechar{
    background-color: var(--font3);
    color: var(--font3);
    text-align: center;
    width: 160px;
    margin: auto;
    border-radius: 20px;
}
footer {
    display: flex;
    height: 350px;
    background-color: var(--box2);
    font: var(--textoParagrafo);
    color: var(--font2);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}
.rodape{
   line-height: 40px;
    width: 300px;
   
}
ol{
    
    list-style: none;
}
 /*Responsividade  */
@media (max-width: 1050px) {
    #planos {
       display: grid;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1100px){
#containerMenu{
    display: grid;
}
header{
    height: 90px;
}
}
@media (max-width: 1000px) {
    #containernavegação{
        display: none;
    }
    header{
    height: 60px;
    }
    #containerMenu{
    display: flex; 
    position: relative;
    }
    #containerMenu #manupeq{
    position: absolute;
    left: 90%;
    align-self: center;

    }
}
@media (max-width:750px){
    #your2 > h2{
        font:var(--texto21)
    }
}


/* controles */
#ajuste::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#cdcdcd81;
    opacity: 0;
    border-radius: 5px;
}
#ajuste:hover::after{
    opacity: 1;
}

#botseach::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#cdcdcd81;
    opacity: 0;
    border-radius: 5px;
}
#botseach:hover::after{
    opacity: 1;
}

/* #manupeq::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#cdcdcd81;
    opacity: 0;
    border-radius: 5px;
    padding: 10px;
    transform: translate(-25%, -25% );
    cursor: pointer;
}
#manupeq:hover::after{
    opacity: 1;
} */


.botmenu:hover{
    background-color: var(--box4);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}
#seach:active{
    width: 200px;
    align-items:center;
    #txtseach{
        width: 200px;
        color: var(--font2);
    }
}
#manupeq:active + #menunew{ 
      display: block;
    
}